@media (max-width: 1100px) {
  form {
    width: 75%;
  }
  .tab-buttons  button{
    font-size: 1em;
  }
  #net-qr-code-tab{
    margin-bottom: 100px;
  }
}

@media (max-width: 740px) {
  .qrcode-container{
    width: 90%;
  }

  .title {
    font-size: 5em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  form  label {
    font-size: 1.2em;
  }

  form  input {
    font-size: 1em;
  }

  form > button {
    font-size: 1.2em;
    width: 150px;
  }

  .net-prot{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }

  .modal-window{
    width: 80%;
  }
}

@media (max-width: 440px) {
  .title {
    font-size: 4em;
  }
  .subtitle {
    font-size: 1.3em;
  }
  form {
    width: 100%;
  }
  .qrcode-container {
    height: 400px;
  }
  .tab-buttons {
    width: 100%;
  }
  form{
    margin-top: 40px;
  }


  .modal-window{
    width: 90%;
    max-width: 90%;
  }
  .modal-title, .reasons-title{
    font-size: 1.3rem;
  } 
}

@media (max-width: 390px) {
  .qrcode-container > h2 {
    font-size: 1.75em;
  }
  .qrcode-container{
    height: fit-content;
  }
  .qrcode-container > #qrcode{
      margin: 30px;
  }
  .net-prot select{
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  .qrcode-container > h2 {
    font-size: 1.75em;
  }
  footer > p{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1em;
  }
  form input {
    height: 20px;
    font-size: 0.7em;
  }
  form button {
    width: 100%;
    font-size: 1em;
    height: 36px;
  }
  form label {
    font-size: 0.9em;
  }

  .qrcode-container > h2 {
    font-size: 1em;
  }
  #qrcode {
    margin: 25px 0;
  }
  .container {
    width: 90%;
  }
  .net-prot{
    margin-bottom: 25px;
  }

  .modal-title, .reasons-title{
    font-size: 1rem;
  } 

  .error-description{
    font-size: 0.9rem;
  }

  .error-reasons{
    width: 85%;
    line-height: normal;

    font-size: 0.9rem;
  }
}
